<!-- <h1 style="font-weight:bolder;margin-top: 60px;margin-left: 490px"><u>Add Mobile</u></h1>
<div class="card" style="width: 30rem; margin-top: 30px;margin-left: 400px">
    <div class="card-body">
        <div class="align1">
            <form class="align" [formGroup]="mobileForm" (ngSubmit)="onSubmit()" style="width: 200px;">
                <div class="form-group">
                    <label for="mobileImeiid">Mobile IMEID</label>
                    <input type="text" class="form-control" id="mobileImeIID" formControlName="mobileImeIID" placeholder="Enter Mobile IMEI">
                </div>
                <div *ngIf="mobileForm.controls['mobileImeIID'].invalid && (mobileForm.controls['mobileImeIID'].dirty || mobileForm.controls['mobileImeIID'].touched )" class="text-danger">
                    Id is required
                </div>
                <div *ngIf="mobileForm.controls['mobileImeIID'].errors?.maxlength && (mobileForm.controls['mobileImeIID'].dirty || mobileForm.controls['mobileImeIID'].touched )" class="text-danger">
                    Id should be of 16 digits
                </div>
                <div *ngIf="mobileForm.controls['mobileImeIID'].errors?.minlength && (mobileForm.controls['mobileImeIID'].dirty || mobileForm.controls['mobileImeIID'].touched )" class="text-danger">
                    Id should be equal to 16 digits
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input type="text" class="form-control" id="mobilePrice" formControlName="mobilePrice" placeholder="Enter Price">
                </div>
                <div *ngIf="mobileForm.controls['mobilePrice'].errors?.required && (mobileForm.controls['mobilePrice'].dirty || mobileForm.controls['mobilePrice'].touched)" class="text-danger">
                    Price is required
                </div>
                <div class="form-group">
                    <label for="model">Model Name</label>
                    <input type="text" class="form-control" id="modelName" formControlName="modelName" placeholder="Enter Model">
                </div>
                <div *ngIf="mobileForm.controls['modelName'].errors?.required && (mobileForm.controls['modelName'].dirty || mobileForm.controls['modelName'].touched)" class="text-danger">
                    Model name is required
                </div>
                <div class="form-group">
                    <label for="price">Store ID</label>
                    <input type="text" class="form-control" id="storeId" formControlName="storeId" placeholder="Enter StoreID">
                </div>
                <div *ngIf="mobileForm.controls['storeId'].errors?.required && (mobileForm.controls['storeId'].dirty || mobileForm.controls['storeId'].touched)" class="text-danger">
                    Store ID is required
                </div>
                <div class="button">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>
        </div>
    </div>
</div> -->

<h2 class="title"><u>Add Mobile</u></h2>
<form [formGroup]="mobileForm" class="form">
    <mat-form-field>
        <input matInput placeholder="Enter Imei number" formControlName="mobileImeIID">
    </mat-form-field><br>
    <div *ngIf="mobileForm.controls['mobileImeIID'].invalid && (mobileForm.controls['mobileImeIID'].dirty || mobileForm.controls['mobileImeIID'].touched )" class="text-danger">
        Id is required
    </div>
    <div *ngIf="mobileForm.controls['mobileImeIID'].errors?.maxlength && (mobileForm.controls['mobileImeIID'].dirty || mobileForm.controls['mobileImeIID'].touched )" class="text-danger">
        Id should be of 16 digits
    </div>
    <mat-form-field>
        <mat-select placeholder="Choose Model Name" formControlName="modelName">
            <mat-option *ngFor="let model of models" [value]="model.value">
                {{model.viewValue}}
            </mat-option>
        </mat-select>
        <div *ngIf="mobileForm.controls['modelName'].errors?.required && (mobileForm.controls['modelName'].dirty || mobileForm.controls['modelName'].touched)" class="text-danger">
            Model name is required
        </div>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Enter Price" formControlName="mobilePrice">
    </mat-form-field><br>
    <div *ngIf="mobileForm.controls['mobilePrice'].errors?.required && (mobileForm.controls['mobilePrice'].dirty || mobileForm.controls['mobilePrice'].touched)" class="text-danger">
        Price is required
    </div>
    <mat-form-field>
        <input matInput placeholder="Enter Store ID" formControlName="storeId">
    </mat-form-field><br>
    <div *ngIf="mobileForm.controls['storeId'].errors?.required && (mobileForm.controls['storeId'].dirty || mobileForm.controls['storeId'].touched)" class="text-danger">
        Store ID is required
    </div>
    <section>
        <div class="example-button-row">
            <button mat-flat-button color="primary" *ngIf="mobileForm.valid" (click)=onSubmit()>Sumbit</button>
        </div>
    </section>
</form>

<!-- <form class="example-form" [formGroup]="mobileForm">
    <mat-form-field class="example-full-width">
        <mat-label>Favorite food</mat-label>
        <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Enter Imei number" formControlName="mobileImeIID">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <mat-label>Leave a comment</mat-label>
        <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
</form> -->