<!-- <nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand1" href="mobile"><img src="assets/download.jpg" style="width:110px;height:50px;"></a>
        <ul class="nav1">
            <li class="active">
                <a class="navbar-brand" href="mobile"><span style="color:white;font-weight:normal;">Mobiles</span></a>
            </li>
            <li class="active">
                <a class="navbar-brand" href="store">Stores</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
</nav> -->
Hey first First Edit
<body>
    <p>
        <mat-toolbar color="primary">
            <a class="navbar-brand1" href="mobile"><img src="assets/download.jpg" style="width:110px;height:50px;"></a>
            <a role="button" href="mobile" style="color: white;margin-left: 2%;"><span>Mobiles</span></a>
            <a role="button" href="store" style="color: white;margin-left: 1.5%;"><span>Stores</span></a>
            <a role="button" href="mobile" style="color: white;margin-left: 1.5%;"><span>Services</span></a>
            <a role="button" href="mobile" style="color: white;margin-left: 1.5%;"><span>Contact</span></a>
        </mat-toolbar>
    </p>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    <div class="footer">
        <p>© 2021 Mobile Store</p>
    </div>
</body>
